#if(!$columns.isEmpty())
ALTER TABLE ${tableName}
  ADD(
#foreach($column in $columns)
   `${column.name}` ${column.type}#if(${column.length})(${column.length})#end#if(${column.required}) NOT NULL#end#if(${column.defaultValue}) DEFAULT '${column.defaultValue}'#end#if(${column.increment}) AUTO_INCREMENT#end COMMENT '${column.comment}'#if( $foreach.hasNext ),#end
#end);
#end
