<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.batizhao.ims.mapper.UserMapper">
    <resultMap type="me.batizhao.ims.domain.User" id="baseResultMap">
        <id property="id" column="id"/>
        <result property="uuid" column="uuid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="mobileNumber" column="mobileNumber"/>
        <result property="avatar" column="avatar"/>
        <result property="unreadCount" column="unreadCount"/>
        <result property="status" column="status"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <select id="selectUsers" resultMap="baseResultMap">
        SELECT id,username,email,name,sex,mobileNumber,avatar,status,createTime,updateTime,uuid
        FROM user u
        LEFT JOIN user_department ud ON u.id = ud.userId
        <where>
            <if test="departmentId != null and departmentId != 1">
                ud.departmentId  in
                (SELECT d.id FROM department d LEFT JOIN department_relation dr ON d.id = dr.descendant WHERE dr.ancestor = #{departmentId})
            </if>
            <if test="user.username != null and user.username != ''">
                AND u.username LIKE CONCAT('%',#{user.username},'%')
            </if>
            <if test="user.name != null and user.name != ''">
                AND u.name LIKE CONCAT('%',#{user.name},'%')
            </if>
        </where>
    </select>

    <select id="selectLeadersByDepartmentId" resultMap="baseResultMap">
        SELECT
            A.id, A.name, A.username
        FROM user A
        LEFT JOIN department_leader B ON A.id = B.leaderUserId
        <where>
            B.departmentId = #{id}
            <if test="type != null and type != ''">
                and B.type = #{type}
            </if>
        </where>
        ORDER BY B.sort
    </select>

</mapper>