<template>
  <div class="app-container">
    #parse( "templates/vue/search-form.vm" )

    #parse( "templates/vue/toolbar-tree.vm" )

    #parse( "templates/vue/table-tree.vm" )

    #parse( "templates/vue/modal-form.vm" )

  </div>
</template>

#parse( "templates/vue/script.vm" )