<el-table v-loading="loading" :data="${classname}List" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
#foreach($column in $columns)
#set($javaField=$column.javaField)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($column.primaryKey)
      <el-table-column label="${comment}" align="center" prop="${javaField}" />
#elseif($column.display && $column.htmlType == "datetime")
      <el-table-column label="${comment}" align="center" prop="${javaField}" width="180">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.${javaField}) }}</span>
        </template>
      </el-table-column>
#elseif($column.display && $column.htmlType == "switch")
      <el-table-column label="${comment}" align="center">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.${javaField}"
            @change="handleStatusChange(scope.row)"
            active-value="open"
            inactive-value="close"
          ></el-switch>
        </template>
      </el-table-column>
#elseif($column.display && "" != $column.dictType)
      <el-table-column label="${comment}" align="center" prop="${javaField}" :formatter="${javaField}Format" />
#elseif($column.display && "" != $javaField)
      <el-table-column label="${comment}" align="center" prop="${javaField}" />
#end
#end
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
#if(!$relationTable.isEmpty())
            v-hasPermi="['${relationTable[0].moduleName}:${relationTable[0].className}:edit']"
#else
            v-hasPermi="['${moduleName}:${className}:edit']"
#end
          >编辑</el-button>
          <el-button
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
#if(!$relationTable.isEmpty())
            v-hasPermi="['${relationTable[0].moduleName}:${relationTable[0].className}:delete']"
#else
            v-hasPermi="['${moduleName}:${className}:delete']"
#end
          >删除</el-button>
#if($template == "onetomany")
          <el-button
            type="text"
            icon="el-icon-view"
            @click="handleDetail(scope.row)"
#if(!$relationTable.isEmpty())
            v-hasPermi="['${relationTable[0].moduleName}:${relationTable[0].className}:edit']"
#else
            v-hasPermi="['${moduleName}:${className}:edit']"
#end
          >详情</el-button>
#end
        </template>
      </el-table-column>
    </el-table>
    
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.current"
      :limit.sync="queryParams.size"
      @pagination="getList"
    />