package ${package}.${moduleName}.${classNameLower}.controller;

import ${package}.${moduleName}.${classNameLower}.entity.${className};
import cn.sh.ideal.platform.flowable.entity.RestStartProcessDTO;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

import java.io.Serializable;

/**
 * ${comments} Form对象
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@Accessors(chain = true)
@NoArgsConstructor
public class ${className}Form implements Serializable {

    private static final long serialVersionUID = 1L;

    public boolean needEdit;
    public ${className} ${classname};
    public RestStartProcessDTO processSubmitDTO;
    public String sendSMS;
    public String sendContent;

}
